# Nuxt
.nuxt
.output
.nitro
.cache
dist

# Node
node_modules
*.log*
.npm
.eslintcache

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
*.local
